
<div class="page-header">
  <h1>Take a webshot?</h1>
  <i><h5 class="text-muted"> Please enter an url (web address).</h5></i>

  <div class="pull-right">

  <%= link_to 'Back', :back %>
  </div>
</div>

<%= form_for(@webshot) do |f| %>

  <div class="form-group">
    <%= f.text_field :url, :class => "form-control col-11", :placeholder => "http://www.google.com"%>
    <%= f.submit "GO!", :class => "btn btn-primary col-1 new-webshot-submit"%>
  </div>

<% end %>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop='static'>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title">Please wait for a moment.</h4>
      </div>
      <div class="modal-body">
        <i class="text-muted"> The process may take several minutes, depends on complicacy and connection speed of target website.</i>

        <%= image_tag 'loading.gif', :class => "col-10 col-sm-offset-1 col-md-offset-1 col-lg-offset-1"%>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>


