<fieldset>
<legend>
	<%= link_to 'Back', :back , :class => "btn btn-primary"%>
	<%= link_to 'Share', user_signed_in? && current_user.profile ? "#share-by-email-#{@webshot.id}" : "#please-login-profile", :class => "btn btn-warning", :data => { toggle: "modal"}%>





<%= @webshot.title if @webshot.title %>

</legend>

</fieldset>

<div class="text-center col-12">
<%= image_tag(@webshot.photo.url(:original), 
                :alt => @webshot.url,
                :class => "col-12"
                 )%>



</div>





<%= render 'partial/share_by_email', w: @webshot %>