
<div class= "row">
<h2 class= "featurette-heading text-center"> <%= @webshot.title %> <small><%= get_host_without_www(@webshot.url) if @webshot.title.length < 20 %></small></h2>

    <div class= "pull-right">
      <% if current_user && current_user == @webshot.user %>
      <%= link_to 'Delete', @webshot, method: :delete, data: { confirm: 'Are you sure?' } %> |
      <%= link_to 'Edit', edit_webshot_path(@webshot)%> | 
      <% end %>
      <%= link_to 'Back', :back %>
    </div>

<hr />
</div>
<div class= "row">
  
  <div class= "col-5 pull-right">

    <div class = "row">
      <% if @webshot.profile.photo %>
      <div class = "col-3-all">
        <%= image_tag(@webshot.profile.photo.url(:thumb), :class => "img-circle pull-left") %>
      </div>
      <% end %>

      <div class = "col-8-all">
        <i class="glyphicon glyphicon-user"> </i> <%= link_to @webshot.profile.nickname, user_webshots_path(@webshot.user)%>  <br />
        <i class="glyphicon glyphicon-calendar"></i> <%= @webshot.created_at.strftime("%b %d %Y") %><br />
        <i class="glyphicon glyphicon-share"></i> <a data-toggle="modal" href=
          <% if (user_signed_in? && current_user.profile) %> 
            "#share-by-email-<%= @webshot.id %>" 
          <% else %>
            "#please-login-profile" 
          <% end %>

           ><%= @webshot.shares_count%> Shares</a><br />
        <i class="glyphicon glyphicon-globe"></i> <%= link_to "Original website", @webshot.url %>
      </div>
      



    </div>
    <hr>
  </div>



  <div class= "col-7">


    <%= link_to(
      image_tag(@webshot.photo.url(:medium), 
                :class => "img-responsive", 
                :alt => @webshot.url,
                :title => "Link to full-size image in a new window.",
                :class => "col-12",
                :html => { 
                  "data-src" => "holder.js/500x500/auto"
                }),
      full_webshot_path(@webshot),
      :target => "_blank"
    ) %>

  </div>

  <div class= "col-5">



      <p><%= @webshot.desc %></p>

  </div>

</div>




