

<% @webshots.each do |w| %>
<% odd = cycle("true","false")%>

<div class="row featurette">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h3 class="featurette-heading col-xs-12 col-sm-12 col-md-12 col-lg-12 hideOverflow <%= " align-right pull-right" if odd == "true"%>">
          <%= link_to w.title, webshot_path(w) %>

        </h3>
      </div>
    </div>
    <div class="row">
      <div id = "thumbnail-div" class="col-xs-12 col-sm-3 col-lg-3 col-md-3 <%= " align-right pull-right" if odd == "true"%>">

         <%= link_to(image_tag(w.photo.url(:medium), 
          :alt => "#{w.title}", 
          :width => 200, 
          :height => 200, 
          :title => "#{w.title}",
          :html => { "data-src" => "holder.js/200x200"}
          ), webshot_path(w), :class => "thumbnail") %>

      </div>
      <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 <%= "pull-right" if odd == "true"%>" style="max-height: 200px;">      
    
        <p class="<%= "pull-right" if odd == "true"%>">
          <% if w.desc %>
          <%= truncate(w.desc, length: 500) { link_to "Continue", "#" } %>
          <% end %>
        </p>


      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <p></p>
        <p class="<%= "align-right pull-right" if odd == "true"%>">

          <% if current_user == w.user %>

          <i class="glyphicon glyphicon-remove-circle"> </i> <%= link_to 'Delete', w, method: :delete, data: { confirm: 'Are you sure?' } %>

          | <i class="glyphicon glyphicon-edit"> </i> <%= link_to 'Edit', edit_webshot_path(w) %>

          <% else %>
          <i class="glyphicon glyphicon-user"> </i> <%= link_to w.user.profile.nickname, user_webshots_path(w.user)%> 
          <% end %>
          | <i class="glyphicon glyphicon-calendar"></i> <%= w.created_at.strftime("at %b %d %Y") %>
          <!--|  <i class="icon-comment"></i> <a href="#">3 Comments</a> -->
          | <i class="glyphicon glyphicon-share"></i> <a data-toggle="modal" href=
          <% if (user_signed_in? && current_user.profile) %> 
            "#share-by-email-<%= w.id %>" 
          <% else %>
            "#please-login-profile" 
          <% end %>

           ><%= w.shares %> Shares</a>
          | <i class="glyphicon glyphicon-tags"></i> Tags : <a href="#"><span class="label label-info">Not</span></a> 
          <a href="#"><span class="label label-info">Implemented</span></a> 
          <a href="#"><span class="label label-info">Yet</span></a> 
        </p>
      </div>
    </div>
  </div>
</div>
<hr class="featurette-divider">


<%= render 'partial/share_by_email', w: w %>



<% end %>

<%= render 'partial/please_login_profile'%>


