<!DOCTYPE html>
<html>
<head>
	<title>Web Shooter - Capture web pages</title>
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
</head>
<body>

	<%= render 'layouts/header' %>

	<%= render 'layouts/notice' %>


	<div id="container" class="container well" style="margin-top: 70px">
		<%= yield %>
	</div>




</body>
</html>
